<div class="create-password-container">
  <img src="assets/icons/unlock.png" alt="">
  <div class="title">
    <h5>Crear contraseña</h5>
    <br>
    <p>Tus referencias han confirmado que te conocen exitosamente. Crea tu contraseña de Banlinea One y habrás terminado el
      proceso.
    </p>
  </div>
  <div class="form" fxLayout=column [formGroup]="password">
    <mat-form-field floatLabel="always">
      <mat-label>Dígite su contraseña</mat-label>
      <input matInput type="password" required formControlName=password>
    </mat-form-field>
    <mat-form-field floatLabel="always">
      <mat-label>Repita su contraseña</mat-label>
      <input matInput type="password" required formControlName=repeatPassword>
    </mat-form-field>
    <button mat-raised-button color=primary [disabled]="!password.touched || !(password.controls.password.value == password.controls.repeatPassword.value)"
      (click)="toFinal()">Crear contraseña</button>
  </div>
</div>