<div class="product-info" fxLayout=column fxLayoutAlign="center center">
  <img src="assets/images/credit-card.png" alt="Credit card">
  <div class="info" fxLayout=column>
    <div fxLayout=row fxLayoutAlign="space-between center">
      <h5>Accendo VISA Clásica </h5>
      <img src="assets/icons/warning.png" alt="">
    </div>
    <div>
      <span>CAT 45.O3% sin
        <a href="https://one-demo-b59b9.firebaseapp.com/one/authorization" target="_self">IVA</a>
      </span>
      <br>
      <span>Comisión anual: $ 200.000 sin IVA </span>
    </div>
  </div>
</div>
