<div class="home-container">
  <img src="assets/images/couple.png" alt="" class="first-image">
  <img src="assets/images/cards.png" alt="" class="cards">
  <button mat-raised-button color=primary (click)="toOne()">Mi primera tarjeta</button>
  <div class="benefits">
    <img src="assets/images/beneficios.png" alt="" class="cards">
    <img src="assets/images/beneficios-cards.png" alt="" class="cards">
    <img src="assets/images/show-more.png" class="button">
    <img src="assets/images/couple2.png" alt="" class="second-couple">
  </div>
  <img src="assets/images/footer.png" alt="" class="footer" >

</div>