<div class="container">
  <div class="description" fxLayoutAlign="start start">
    <img src="../assets/icons/email.png" alt="">
    <pre>
      <strong>Hemos envíado una notificación a tus referencias</strong>
      Una vez confirmen se realizará el desembolso de tu ceredito.
    </pre>
  </div>

  <div class="div-references" fxLayout="row" fxLayoutAlign="space-between center">

    <div class="box" fxLayout="column">
      <p>Referencia 1</p>
      <div class="reference">
        <p>Editar</p>
        <div class="div-inputs" fxLayout="column" fxLayoutAlign="space-evenly start">
          <mat-label>Alejandro</mat-label>

          <mat-label>Daniel</mat-label>

          <mat-label>González</mat-label>

          <mat-label>Gómez</mat-label>

          <mat-label>alegomez@correo.com</mat-label>

          <mat-label>55 8525 9484</mat-label>
        </div>
        <hr>
        <div class="div-confirmado">
          <p>Confirmado</p>
          <img src="assets/icons/Fill1.png" alt="">
        </div>
      </div>
    </div>

    <div class="box" fxLayout="column">
      <p>Referencia 1</p>
      <div class="reference">
        <p>Editar</p>
        <div class="div-inputs" fxLayout="column" fxLayoutAlign="space-evenly start">
          <mat-label>Alejandro</mat-label>

          <mat-label>Daniel</mat-label>

          <mat-label>González</mat-label>

          <mat-label>Gómez</mat-label>

          <mat-label>alegomez@correo.com</mat-label>

          <mat-label>55 8525 9484</mat-label>
        </div>
        <hr>
        <div class="div-confirmado">
          <p>Confirmado</p>
          <img src="assets/icons/Fill1.png" alt="">
        </div>
      </div>
    </div>

    <div class="box" fxLayout="column">
      <p>Referencia 1</p>
      <div class="reference">
        <p>Editar</p>
        <div class="div-inputs" fxLayout="column" fxLayoutAlign="space-evenly start">
          <mat-label>Alejandro</mat-label>

          <mat-label>Daniel</mat-label>

          <mat-label>González</mat-label>

          <mat-label>Gómez</mat-label>

          <mat-label>alegomez@correo.com</mat-label>

          <mat-label>55 8525 9484</mat-label>
        </div>
        <hr>
        <div class="div-confirmado">
          <p>Confirmado</p>
          <img src="assets/icons/Fill1.png" alt="">
        </div>
      </div>
    </div>

  </div>

  <div class="div-button">
    <button mat-raised-button color=primary (click)="toPassword()">Continuar</button>
  </div>
</div>